label{
    color: #fff;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}
.cform{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
}
 textarea{
    padding-bottom: 50rem;
}
/* form input , form textarea{
    margin-bottom: 1rem;
    padding: 10rem;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color:  rgba(255, 255, 255, 0.1);
    color: #f4f4f4;
} */

.input_field{
    padding: 10px;
    margin: 10px;
    width: 100%;
}
